/*PAGE DE STYLE CSS*/

html 
{
	width:100%; /*LARGEUR POUR QU'IL Y AIT DE LA PLACE POUR LES PUBS SUR LE COTE*/
}  

#caracteristiques_page
{
	margin: 0px 50px 0px 50px;
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
}



/* 
-----------------------------
HEADER 
-----------------------------
*/

#header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 110px;
}

#logo img
{
    margin-bottom: 50px;
    width: 63px;
    height: 21px;
}


#menu_nav ul
{
    display: flex;
    width: 375px;
    height: 102px;
}

#menu_nav li
{
    list-style-type: none;
    width: 50%;
    height: 30px;
    text-align: center;
    padding-top: 41px;
    cursor: pointer;
}

#menu_nav a
{
    width: 100%;
    text-decoration: none;
    color: black;
}

#menu_nav li:hover
{
    border-top: 3px #0065FC solid;
    padding-top: 38px;
}

#menu_nav li:hover a
{
    color: #0065FC;
}


/* 
-----------------------------
SECTION 
-----------------------------
*/


#section
{
    padding: 0;
}

#section h1
{
    margin-bottom: -7px;
    font-size: 1.4em;
}

#barre_de_recherche
{
    display: flex;
}

#logo_localisation i
{
    color: black;
    margin-right: 0;
}

#logo_localisation
{
    border: 1px #F2F2F2 solid;
    border-right: none;
    border-radius: 17px 0 0 17px;
    width: 50px;
    height: 49.4px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#recherche
{
    width: 240px;
    height: 51px;
    padding-left: 20px;
    border: none;
    border: 1px #F2F2F2 solid;
    border-left: none;
    font-weight: bold;
    font-size: 1.1em;
}

#recherche::placeholder
{
    color: black;
    opacity: 1;
}

#recherche:focus
{
    outline: none;
}


.bouton_recherche_loupe
{
    display: none;
}

#bouton_recherche
{
    width: 125px;
    height: 51px;
    background-color: #0065FC;
    margin-left: -4px;
    border: none;
    border-radius: 0 13px 13px 0;
    border: 1px #0065FC solid;
    color: white;
    font-weight: bold;
    font-size: 1.1em;

}

#bouton_recherche:hover
{
    cursor: pointer;
}

#titre_filtres
{
    margin-top: 35px;
    margin-right: -40px;
}

#block_filtres
{
    display: flex;
}

#block_filtres i
{
    margin-right: 10px;
}

#nav_filtres ul
{
    display: flex;
    flex-direction: row;
}

#nav_filtres li
{
    list-style-type: none;
    margin-left: 40px;
    margin-top: 10px;
}

.liens_filtres 
{
    border: 2px #d9d9d9 solid;
    border-radius: 30px;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0 15px 0 15px;
}

#nav_filtres a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.liens_filtres i 
{
    font-size: 1.3em;
}

.fa-solid
{
    color: #0065FC;
}

.liens_filtres:hover
{
    background-color: #deebff;
}

.info
{
    margin: 20px 0 30px 10px;
    display: flex;
    align-items: center;
}

.info
{
    display: flex;
    align-items: center;
}

#texte_info 
{
    margin-left: 10px;
}

.info i
{
    font-size: 0.7em;
    border: 1px #d9d9d9 solid;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}




#un
{
    display: flex;
    justify-content: space-between;
}

#hebergements_marseille
{
    border: 1px #F2F2F2 solid;
    border-radius: 30px;
    background-color: #F2F2F2;
    height: 650px;
    width: 67%;
}

#titre_hebergements_marseille
{
    margin-top: 45px;
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 1.4em;
}

.caracteristique_eti_haut
{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.caracteristique_eti_bas
{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.liens_hebergements
{
    width: 30%;
    height: 200px;
}

.offres_hebergements
{
    border: 4px white solid;
    border-radius: 25px;
    box-shadow: 1px 4px 10px #d9d9d9;
    background-color: white;
    height: 200px;
    width: 100%;
}

a
{
    text-decoration: none;
}

.offres_hebergements img
{
    width: 100%;
    height: 115px;
    border-radius: 21px 21px 0px 0px;
    object-fit: cover;
}

.titre_etiquette_hebergement
{
    font-size: 1.1em;
    font-weight: bold;
    color: black;
    margin-left: 15px;
    margin-top: 5px;    
}

.offre_etiquette_hebergement
{
    font-size: 0.9em;
    color: black;
    margin-left: 15px;
    margin-top: -12px;
}

.titre_etiquette
{
    font-size: 1.1em;
    font-weight: bold;
    color: black;
    margin-left: 15px;
    margin-top: 5px;    
}

.offre_etiquette
{
    font-size: 0.9em;
    color: black;
    margin-left: 15px;
    margin-top: -12px;
}

.fa-star 
{
    width: 6px;
    font-size: 0.8em;
    margin-right: 9px;
}

.fa-star-zero
{
    color: #F2F2F2;
}

.etoiles_etiquette
{
    margin-left: 15px;
    margin-top: auto;
}

#lien_afficher_plus 
{
    font-size: 1.1em;
    color: black;
    font-weight: 800;
    margin-left: 50px;
}



#les_plus_populaires
{
    border: 1px #F2F2F2 solid;
    border-radius: 30px;
    background-color: #F2F2F2;
    height: 650px;
    width: 25%;
    padding: 0 2.5% 0 2.5%;
}

#titre_populaires
{
    display: flex;
    justify-content: space-between;
}

#titre_populaires h2
{
    margin-top: 45px;
    font-size: 1.4em;
}

.fa-chart-line
{
    float: right;
    margin-top: 52px;
    margin-right: 10px;
    font-size: 1.2em;
}

#lpp
{
    margin-top: 10px;
}

.titre_etiquette 
{
    font-size: 1.0em;
}

.etiquette_populaires
{
    border: 4px white solid;
    border-radius: 25px;
    box-shadow: 1px 4px 10px #d9d9d9;
    background-color: white;
    height: 140px;
    width: 98%;
    display: flex;
    margin-bottom: 30px;
}

.textes_populaires 
{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.image_populaires 
{
    width: 39%;
}

.image_populaires img
{
    width: 100%;
    height: 100%;
    border-radius: 21px 0px 0px 21px;
    object-fit: cover;
}

.etoiles_populaires 
{
    bottom: 0px;
    margin-top: auto;
}

.texte_populaire
{
    width: 41%;
}





#activites_marseille
{
    margin-top: 70px;
}

#titre_activites h2
{
    margin-top: 55px;
    font-size: 1.4em;
}

#caracteristiques_carte_activites
{
    display: flex;
    justify-content: space-between;
}

#caracteristiques_carte_activites a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 23%;
}

.texte_carte h3
{
    margin: 0 0 0 20px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1em;
}

.carte_activites
{
    border: 0px white solid;
    border-radius: 25px;
    box-shadow: 1px 4px 10px #d9d9d9;
    width: 100%;
    height: 445px;
}

.carte_activites img
{
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 390px;
    object-fit: cover;
}




/* 
-----------------------------
FOOTER 
-----------------------------
*/


#footer 
{
    display: flex;
    background-color: #F2F2F2;
    margin-top: 60px;
    padding-left: 30px;
    height: 215px;
    padding-top: 40px;
}

#footer a
{
    list-style-type: none;
    color: black;
    margin-bottom: 10px;
}

#footer li
{
    font-size: 1.0em;
    margin-bottom: 10px;
}

#footer h4
{
    font-size: 1.2em;
}

.titre_footer
{
    margin-right: 15%;
}




/* 
-----------------------------
RESPONSIVE : TABLETTE 
-----------------------------
*/



@media screen and (max-width: 1024px) {
    #caracteristiques_page
    {
        margin: 0px 50px 0px 50px;
    }

    #menu_nav ul 
    {
        justify-content: flex-end;
    }

    #menu_nav li 
    {
        width: 40%;
    }

    #section h1 
    {
        font-size: 1.3em;
    }

    #nav_filtres li 
    {
        margin-left: 30px;
    }


    #titre_filtres 
    {
        margin-right: -55px;
    }
    


    #un
    {
        flex-direction: column;
    }

    #les_plus_populaires
    {
        height: 100%;
        width: 95%;
    }

    #titre_populaires h2 
    {
        margin-left: 10px;
    }

    .offre_etiquette 
    {
        font-size: 0.74em;
        margin-top: -8px;
    }

    .titre_etiquette 
    {
        font-size: 1.0em;
    }

    #lpp
    {
        display: flex;
        justify-content: space-around;
    }

    .liens_pop
    {
        width: 32%;
    }

    #hebergements_marseille
    {
        width: 100%;
        margin-bottom: 40px;
    }

    .etoiles_etiquette 
    {
        margin-left: 15px;
        margin-top: auto;
    }

    .carte_activites
    {
        height: 267px;
    }

    #caracteristiques_carte_activites a
    {
        width: 21%;
    }

    .carte_activites img
    {
        width: 100%;
        height: 210px;
        object-fit: cover;
    }

    .texte_carte h3
    {
        max-width: 100%;
        margin: 0 0 0 20px;
        display: flex;
        align-items: center;
        font-size: 0.98em;
    }
    
    .titre_footer
    {
        margin-right: 40px;
    }

}

